<div class="container">
  <div>
    <button class="btn" routerLink="/home"><i class="pi pi-arrow-left pe-2"></i>Homepage</button>
  </div>
  <div class="row">
    <div class="col-md-6 bgImg">
      <div class="text-white">
        <h4 class="mb-4">We are more than just a company</h4>
        <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-md-6 bgColor text-white">
      <div class="card-body">

        <div>
          <h4 class="mt-4">Login</h4>
        </div>

        <form [formGroup]="loginForm">
          <p>Please login to your account</p>

          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" />
            <span *ngIf="(loginForm.controls.email.touched || isSubmitted) && loginForm.controls.email.errors?.required"
              class="text-danger">Email required</span>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" placeholder="Pass*****"
              formControlName="password" />
            <span
              *ngIf="(loginForm.controls.email.touched || isSubmitted) && loginForm.controls.password.errors?.required"
              class="text-danger">Password required</span>
          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btnColor" (click)="onSubmit()" type="button">LOG IN</button>
            <p *ngIf="!validUser">Not a valid user!</p>
          </div>
          <div class="d-flex align-items-center justify-content-center pb-4">
            <p class="mb-0 me-2">Don't have an account?</p>
            <a class="text-white" routerLink="/register">Register here</a>
          </div>

        </form>

      </div>
    </div>


  </div>
</div>